body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#esto-esta-de-locos{
  color:#f00;
}

.thought{
  background-color: rgb(240, 240, 240);
  padding: 1rem;
  border-radius: 0.4em;
}